<!-- Navbar for Game Screen Goes Here. This will only show after login -->
<link rel="stylesheet" href="../../css/gameNavbar.css">
<div class = "nav">
    <ul>
        <li><a href="#signup">settings</a></li>
        <li class = "level">level: 0</li>
        <li style="float:right">
            <a class="active" href="/dashboard">
                Dashboard
            </a></li>
    </ul>
</div>
