<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CacluMon</title>

        <link rel="stylesheet" href="../../css/main.css">
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>

    <body>
        {{{body}}}

    </body>

</html><!-- main layout goes here -->
