<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CacluMon</title>
        <link rel="stylesheet" href="../../css/main.css">
    </head>

    <body>
        {{{body}}}
        <!-- <script src="spriteAnimation.js"></script> -->
        <script src="../../js/coinAnimation.js"></script>
        <script src="../../js/coinAnimation2.js"></script>


    </body>

</html><!-- main layout goes here -->
