<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CacluMon</title>

        <link rel="stylesheet" href="../../css/main.css">
        <link rel="stylesheet" href="../../css/gamePlay.css">

        <!-- For getting user input through canvas element -->
        <script type="text/javascript" src = "../../utils/CanvasInput/CanvasInput.js"></script>
        <script type="text/javascript" src = "../../utils/CanvasInput/CanvasInput.min.js"></script>
        <script type="text/javascript" src="../../utils/problemGenerator.js"></script>
        <script type="text/javascript" src="../../utils/solutionApi.js"></script>
        <script type="text/javascript" src = "../../utils/Player.js"></script>
        <script type="text/javascript" src = "../../utils/Computer.js"></script>
        
        <script type="text/javascript" src = "../../utils/Game.js"></script>

    </head>

    <body>
        {{{body}}}
        <!-- <script src="spriteAnimation.js"></script> -->
        <script src="../../js/animations/coinAnimation.js"></script>
        <script src="../../js/animations/coinAnimation2.js"></script>


    </body>

</html><!-- main layout goes here -->
