{{!-- This page is what people see after they sign up --}}
<link rel="stylesheet" href="../../css/chooseCalcumon.css">
<div class = "chooseCalcumon">
    {{!-- title --}}
    <h1> CHOOSE YOUR CALCUMON </h1>
    {{!-- grid of characters --}}
    <form action="/choose/calcumon" method="POST">
    <div class = "gridContainer">

        {{!-- add function call with a value that sets calcumon name --}}
        <div class = "gridItem">
            <img src="../images/Calcumons/monster1.png" alt="character">
            <input name = "name" type="submit" value="monster1">
        </div>
        <div class = "gridItem">
            <img src="../images/Calcumons/monster2.png" alt="character">
            <input name = "name" type="submit" value="monster2">
        </div>
        <div class = "gridItem">
            <img src="../images/Calcumons/monster3.png" alt="character">
            <input name = "name" type="submit" value="monster3">
        </div>
        <div class = "gridItem">
            <img src="../images/Calcumons/monster1.png" alt="character">
            <input name = "name" type="submit" value="monster1">
        </div>
        <div class = "gridItem">
            <img src="../images/Calcumons/monster2.png" alt="character">
            <input name = "name" type="submit" value="monster2">
        </div>
        <div class = "gridItem">
            <img src="../images/Calcumons/monster3.png" alt="character">
            <input name = "name" type="submit" value="monster3">
        </div>
    </div>
</form>

    {{!-- next button to move to game page --}}
    <p class="button"><a href="/gamePlay">NEXT</a></p>

    <script>
        // connect to database such that this sets the player's calcumon string value
        let calcumon = ""
        function setCalcumon1() {
            calcumon = "calcumon1"
        }
        function setCalcumon2() {
            calcumon = "calcumon2"
        }
        function setCalcumon3() {
            calcumon = "calcumon3"
        }
        function setCalcumon4() {
            calcumon = "calcumon1"
        }
        function setCalcumon5() {
            calcumon = "calcumon2"
        }
        function setCalcumon6() {
            calcumon = "calcumon3"
        }
    </script>
</div>
