{{!-- This page is what people see after they sign up --}}
<div>
    {{!-- title --}}
    <h1> CHOOSE YOUR CALCUMON </h1>
    {{!-- grid of characters --}}
    <div class = "grid-container">
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
        <div class = "grid-item">
            <img src="" alt="character">
        </div>
    </div>
    {{!-- next button to move to game page --}}
</div>