{{!-- This page is what people see after they sign up --}}
<link rel="stylesheet" href="../../css/chooseCalcumon.css">

<!-- Pick Your Calcumon Hero Text -->
<div class="pick-calcmon-hero-container">
    <img class="pick-calcmon-hero" src="../images/pick-calcmon.png" alt="pick your calcmon hero text">
</div>

<!-- CALCMON OPTIONS -->
<div class="calcmon-options-container">

    <!--Option One -->
    <div class="option-one">
        <img class="option-pic" src="../images/monster-one.png" alt="">
        <!-- Input -->
        <input name= "name" type="submit" id = "monster1" class="option-btn btn btn-lg" value="GOOB">
    </div>

    <!-- Option Two -->
    <div class="option-two">
        <img class="option-pic" src="../images/monster-two.png" alt="">
        <!-- Input -->
        <input name= "name" type="submit" id = "monster2" class="option-btn btn btn-lg " value="ZOOB">
    </div>

<!-- Star Dust  -->
<div class="star-container">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='stars3'></div>
</div>

    {{!-- next button to move to game page --}}
    <!-- <p class="button"><a href="/gamePlay">NEXT</a></p> -->
</div>

<div id="username" style="display:none">{{username}}</div>

<script>
    document.getElementById('monster1').onclick = () => {
        let username = document.getElementById('username').textContent
        axios.post('/choose/calcumon', {
            user: username,
            calcumon: 'monster1'
        }).then(function(response) {
            window.location.href = response.data
        }).catch(function(error) {
            console.log(error)
        })
    }
    document.getElementById('monster2').onclick = () => {
        let username = document.getElementById('username').textContent
        axios.post('/choose/calcumon', {
            user: username,
            calcumon: 'monster2'
        }).then(function(response) {
            window.location.href = response.data
        }).catch(function(error) {
            console.log(error)
        })
    }
</script>

