{{!-- This page is what people see after they sign up --}}
<div class = "chooseCalcumon">
    {{!-- title --}}
    <h1> CHOOSE YOUR CALCUMON </h1>
    {{!-- grid of characters --}}
    <div class = "gridContainer">
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
        <div class = "gridItem">
            <img src="" alt="character">
        </div>
    </div>
    {{!-- next button to move to game page --}}
    <p class="button"><a href="/gameIndex">NEXT</a></p>
</div>