<link rel="stylesheet" href="../../css/dashboard.css">

<!-- Dashboard Hero Text -->
<div class="dashboard-hero-container">
  <img class="dashboard-hero" src="../images/dashboard.png" alt="dashboard hero text">

  <div class="game-buttons">
      <!-- Create Game Button -->
      <a href="/gameplay"><img class="play" src="../images/create-game-btn.png" alt=""></a>

      <!-- Join Game Button -->
      <a href="/gameplay"><img class="play" src="../images/join-game-btn.png" alt=""></a>
  </div>

  <div id = "calcumon">
  </div>

  <!-- Logout Link-->
  <h3 style="text-transform:uppercase">{{currentUser.username}}</h3>
  <h3>LEVEL: {{currentUser.level}}</h3><br>
  <a class="logout-link" href="/logout"> LOGOUT</a>

</div>

<script>
  let calcumon = `{{currentUser.monster}}`
  console.log(calcumon)
  let path = ""
  let bubble = ""
  if (calcumon == "monster1") {
    path = "../images/Calcumons/monster-one.png"
    bubble = "one"
  } else {
    path = "../images/Calcumons/monster-two.png"
    bubble = "two"
  }

  // add image element
  document.getElementById('calcumon').innerHTML = `<img class = "monster chat-bubble1" src="../images/chatbubbles/${bubble}.png" alt="calcumon">`
  document.getElementById('calcumon').innerHTML += `<img class = "monster" src='${path}' alt="calcumon">`
  document.getElementById('calcumon').innerHTML += `<img class = "monster chat-bubble2" src="../images/chatbubbles/${bubble}2.png" alt="calcumon">`
</script>
