<div class="row">

  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.postTitle}}</a>
    <h1>{{currentUser.username}}</h1>
    <p>{{currentUser.calcumon}}</p>

    {{#if currentUser}}
    {{/if}}


  </div>
</div>
