<!--  Custom Styles -->
<link rel="stylesheet" href="../../css/gamestyles.css">

<!-- Scripts -->
<script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
<script type="text/javascript" src="../js/animate.js" charset="utf-8"></script>

<!-- Back to Dashboard Container -->
<div class="back-container">
    <a class="back-link" href = "/dashboard/{{currentUser._id}}">DASHBOARD</a>
</div>

<!-- Problem and Answer Container -->
<div class="problem-container">
    <!-- Math Equation -->
    <div class="math-problem" id = "problem">
    Loading...
    </div>

    <!-- Answer Input-->
    <input class="form-control" id = "answer" placeholder="Enter Your Answer Here!">

    <!-- Skip/ Submit Button Container -->
    <div class="button-container">
        <!--Skip -->
        <button class="option-btn btn btn-lg" id = "skip-problem">SKIP</button>
        <!-- Submit -->
        <button class="option-btn btn btn-lg" id = "submit-solution" type ="submit">SUBMIT</button>
    </div>

</div>

    <div class="col-8 sol">
      <button id = "createGame">CREATE</button>
      <button id = "joinGame">JOIN</button>
    </div>






  </div>

  <!-- Paint buckets -->
  <div class="row justify-content-between">
    <div style="padding:0" class="col-1">
      <img style="width:100px" src="../images/bucket-right.jpg">
    </div>
    <div style="padding:0" class="col-1">
       <img style="width:100px" src="../images/bucket.jpg">
    </div>
  </div>


  <!-- Health bars -->

   <!-- Health bars -->
  <div class="row justify-content-between health">
    <div class="col-1">
      <div id = "player-health"></div>
    </div>
    <div class="col-1">
      <div id = "opponent-health"></div>
    </div>
  </div>
</div>

<div class="hidden">
  <span style="white-space: pre-line; display: none;" id="username">{{currentUser.username}}</span>
  <span style="white-space: pre-line; display: none;" id="level">{{currentUser.level}}</span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/problemGenerator.js"></script>
<script src="../js/solutionApi.js"></script>
<script type="text/javascript" src="../js/gamePlay.js"></script>
