<!--  Custom Styles -->
<link rel="stylesheet" href="../../css/gamestyles.css">



<!-- Back to Dashboard Container -->
<div class="back-container">
    <a class="back-link" href = "/dashboard/{{currentUser._id}}">BACK TO DASHBOARD</a>
</div>

<div class="whole=game-cointainer">

<!-- Problem and Answer Container -->
<div class="problem-container">
    <h1>Solve The Problem Below</h1>
    <!-- Math Equation -->
    <div class="math-problem" id = "problem">
    Loading...
    </div>

    <!-- Answer Input-->
    <input class="answer-form form-control" id = "answer" placeholder="Enter Your Answer Here!">

    <!-- Skip/ Submit Button Container -->
    <div class="button-container">
        <!--Skip -->
        <button class="option-btn btn btn-lg" id = "skip-problem">SKIP</button>
        <!-- Submit -->
        <button class="option-btn btn btn-lg" id = "submit-solution" type ="submit">SUBMIT</button>
    </div>

</div>


  <!-- Paint Buckets -->
  <div class="row justify-content-between paint">
    <div style="padding:0" class="col-1">
      <img style="height: 300px" src="../images/widerbrush.png">
    </div>
    <div style="padding:0" class="col-1">
       <img style="height: 300px" src="../images/widerbrush.png">
    </div>
  </div>

   <!-- Health bars -->
  <div class="row justify-content-between health">
    <div class="health-bar col-1">
      <div id = "player-health"></div>
    </div>
    <div class=" col-1">
      <div class="health-bar" id = "opponent-health"></div>
    </div>
  </div>
{{!-- </div> --}}

<!-- Chat -->
  <div class = "row justify-content-between">
    <div class = "col">
      <ul id="messages"></ul>
      <form action="" class = "messages">
        <input id="m" autocomplete="on" /><button>Send</button>
      </form>
   </div>
   </div>


</div>



<!-- TODO If I remove this, game stops... -->
    <div class="col-8 sol" style="display: none">
      <button id = "createGame">CREATE</button>
      <button id = "joinGame">JOIN</button>
    </div>


<div class="hidden">
  <span style="white-space: pre-line; display: none;" id="username">{{currentUser.username}}</span>
  <span style="white-space: pre-line; display: none;" id="level">{{currentUser.level}}</span>
</div>

<!-- Scripts -->
<script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
<script type="text/javascript" src="../js/animate.js" charset="utf-8"></script>

<!-- SCRIPT FOR CHAT FUNCTION -->
<script>
$(function () {
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
    // This creates the messages wrapped in <li> tags
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        $('#messages li:not(:last)').remove();
        window.scrollTo(0, document.body.scrollHeight);
    });
});
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/problemGenerator.js"></script>
<script src="../js/solutionApi.js"></script>
<script type="text/javascript" src="../js/gamePlay.js"></script>
