{{!-- YOU WON page for player upon completing a level --}}

<link rel="stylesheet" href="../../css/gameNavbar.css">
<link rel="stylesheet" href="../../css/gameOver.css">
<div class = "nav">
    <ul>
        <li class = "level">level: {{currentUser.level}}</li>
        <li class = "coins"> Coins: {{currentUser.coins}}</li>
        <li style="float:right">
            <a class="active" href="/dashboard/{{currentUser._id}}">
                Dashboard
            </a></li>
    </ul>
</div>

<div class = "content">
    <h1>You Won! Yay!</h1>
    {{!-- TODO: Give random amount of coins to user for winning --}}
    <p> + 256 coins </p>
    <br>
    <form method="GET" action="/save">
        <button type = "submit" value="" id="moo"> Next Level --> </button>
    </form>

</div>
