
<div class = "bg">
        <div class = "nav">
            <ul>
                <li class="button"><a href="/signup">JOIN NOW</a></li>
                <li style="float:right"><a class="active" href="#home">
                    <img src="../images/logo.png">
                </a></li>
            </ul>
        </div>

        <div class = "login">
            <form name = "login" method="POST" action="/login">
                <label> Username</label>
                <input class = "info" type="text" placeholder = "username"
                name="username" id="username">
                <label> Password</label>
                <input class = "info" type="password" placeholder = "password"
                name="password" id="password">
                <input class = "play" type="submit" value="LOGIN">
            </form>
        </div>


        <canvas class = "coin1" id="coinAnimation"></canvas>
        <canvas class = "coin2" id="coinAnimation2"></canvas>

</div>
