<link rel="stylesheet" href="../../css/landing-page.css">

    <!-- Calcumon Hero Image (Place Holder) -->
    <div class="hero-container">
        <img class="hero-image" src="../images/calcmon-hero.svg" alt="calcmon hero text">
    </div>

    <!-- Play Button  -->
    <div class="play-button-container">
        <input class="play-button" type="image" src="../images/play-button.svg" name="play-button" class="btTxt submit" id="play-button"/>
    </div>

    <!-- Login Container  -->
    <div class="login-form-container">
        <!-- Login Form  -->
        <form class="login-form" action="/login" method="POST">

            <!-- Username -->
            <div class="form-group">
                <input class="form-control" id="username" type="text" placeholder="Enter Your Username" name="username"/>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter Your Password"/>
            </div>

            <!-- Login Button -->
            <button class="btn btn-lg btn-info login-button" type="submit">LOGIN</button>

            <p style="text-align:center"> Not Registered?</p>

            <!-- Signup Link-->
            <a class="signup-link" href="/signup"> SIGN UP</a>

        </form>


    </div>

    <!-- Star Dust  -->
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>



        <!-- Canvas Elements -->
        <!-- <canvas class = "coin1" id="coinAnimation"></canvas>
        <canvas class = "coin2" id="coinAnimation2"></canvas> -->
