<link rel="stylesheet" href="../css/main.css">

<div class = "landing-page-background">

    <!-- Calcumon Hero Image -->
    <img class="hero-image" src="../images/calcmon-hero.png" alt="calcmon hero text">
    <!-- <a class="active" href="#home"> </a> -->

    <!-- Play Button  -->

    <!-- Login Form -->

    <!-- Register Button (transition to new page)  -->


        <div class = "nav">
            <ul>
                <li class="button"><a href="/signup">JOIN NOW</a></li>
                <li style="float:right"><a class="active" href="#home"> </a>
            </ul>
        </div>

        <div class = "login">
            <form name = "login" method="POST" action="/login">
                <label> Username</label>
                <input class = "info" type="text" placeholder = "username"
                name="username" id="username">
                <label> Password</label>
                <input class = "info" type="password" placeholder = "password"
                name="password" id="password">
                <input class = "play" type="submit" value="LOGIN">
            </form>
        </div>


        <!-- Canvas Elements -->
        <canvas class = "coin1" id="coinAnimation"></canvas>
        <canvas class = "coin2" id="coinAnimation2"></canvas>

</div>
