<link rel="stylesheet" href="../../css/landing-page.css">

    <!-- Calcumon Hero Image (Place Holder) -->
    <div class="hero-container">
        <img class="hero-image" src="../images/calcmon-hero.svg" alt="calcmon hero text">
    </div>

    <!-- Play Button  -->

    <!-- Login Container  -->
    <div class="login-container">
        <!-- Login Form  -->
        <form class="login" action="/login" method="POST">

            <!-- Username -->
            <div class="form-group">
                <input class="form-control" id="username" type="text" placeholder="Enter Your Username" name="username"/>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter Your Password"/>
            </div>

            <!-- Login Button -->
            <button class="btn btn-lg btn-info login-button" type="submit">LOGIN</button>

            <p style="text-align:center; margin-top:2em"> Not Registered?</p>

            <!-- Link to Sign Up / Register Page -->
            <a style="font-size:1em; color:#204272; text-align:center" href="/signup" >Sign Up</a>

        </form>


    </div>



        <!-- Canvas Elements -->
        <!-- <canvas class = "coin1" id="coinAnimation"></canvas>
        <canvas class = "coin2" id="coinAnimation2"></canvas> -->
