{{!-- Sign up screen --}}
<link rel="stylesheet" href="../../css/landing-page.css">

<div class="register-page">

    <!-- Calcumon Hero Image  -->
    <div class="register-hero-container">
        <img class="register-hero-image" src="../images/register-hero.png" alt="calcmon hero text">
    </div>


    <!-- Login Container  -->
    <div class="login-form-container">
        <!-- Signup Form  -->
        <form class="signup-form" action="/sign-up" method="POST">

            <!-- TODO -->
            <!-- Birthday Feild (Date Picker)-->

            <!-- <div class="checkbox">
                <label><input type="checkbox" value="">Are You 13 or Older?</label>
            </div> -->

            <!-- Username -->
            <div class="form-group">
                <input class="form-control" id="username" type="text" placeholder="Create a Username" name="username"/>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input class="form-control" id="password" type="password" name="password" placeholder="Create a Password"/>
            </div>

            <!-- Login Button -->
            <button class="btn btn-lg btn-info login-button" type="submit">SIGN UP</button>

            <p style="text-align:center"> Already Registered?</p>

            <!-- Signup Link-->
            <a class="signup-link" href="/">LOGIN</a>

        </form>


    </div>



        <!-- Canvas Elements -->
        <!-- <canvas class = "coin1" id="coinAnimation"></canvas>
        <canvas class = "coin2" id="coinAnimation2"></canvas> -->

<form name = "signup" method="POST" action="/sign-up">


    <div class="register-monster-container">
        <img class="register-monster" src="../images/register-monster.png" alt="happy monster">
    </div>


<!-- Decorative Bubbles-->
    <div class="bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </div>

</div>
