<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<style>
.col-half-offset{
    margin-left:4.166666667%
}
</style>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../images/team/im.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anisha Jain</h5>
          <div class="card-text text-black-50">Front end developer, Animation Design</div>
          <div class="card-text text-black-50"><a href="https://www.linkedin.com/in/annysha/">LinkedIn</a></div>
          <div class="card-text text-black-50"><a href="https://github.com/Anisha7">Github</a></div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../images/team/Sarin.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sarin Swift</h5>
          <div class="card-text text-black-50">Lead iOS developer, UI and UX designer</div>
          <div class="card-text text-black-50"><a href="https://www.linkedin.com/in/sarin-swift-98224816b/">LinkedIn</a></div>
          <div class="card-text text-black-50"><a href="https://github.com/SarinSwift">Github</a></div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../images/team/Anna.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anna Pawl</h5>
          <div class="card-text text-black-50">Front end developer, UI/UX designer</div>
          <div class="card-text text-black-50"><a href="https://www.linkedin.com/in/annapawl/">LinkedIn</a></div>
          <div class="card-text text-black-50"><a href="https://github.com/AnniePawl">Github</a></div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../images/team/Lucia.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lucia Reynoso</h5>
          <div class="card-text text-black-50">iOS/Backend/Frontend developer</div>
          <div class="card-text text-black-50"><a href="https://www.linkedin.com/in/lucia-reynoso/">LinkedIn</a></div>
          <div class="card-text text-black-50"><a href="https://github.com/lvreynoso">Github</a></div>
        </div>
      </div>
    </div>
  <!-- Team Member 5 -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-0 shadow">
      <img src="../images/team/Connor.jpeg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title mb-0">Connor Oswold</h5>
        <div class="card-text text-black-50">Back end developer</div>
        <div class="card-text text-black-50"><a href="https://www.linkedin.com/in/connor-oswold/">LinkedIn</a></div>
        <div class="card-text text-black-50"><a href="https://github.com/coswold">Github</a></div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>

</div>
<!-- /.container -->
