<!-- Button Container -->
<div class="button-container">
    <!-- Skip Button -->
    <button id="skip-problem" class="btn btn-lg btn-info login-button" type="submit">SKIP</button>
    <!-- Submit Button -->
    <button id="submit-solution" class="btn btn-lg btn-info login-button" type="submit">SUBMIT</button>

    <!-- Old Button Code -->
    <!-- <button id = "skip-problem">SKIP</button>
    <button id = "submit-solution" type ="submit">SUBMIT</button> -->
</div>
