body {

}

.content .nav {
    padding-top: 10px;
    background-color:rgba(255, 255, 255, 0.4);
}


.dashboard-hero {
    width: 65vw;
    margin-top: 3em;

}
/* Logout Link*/
.logout-link {
   color:#F967DE;
   font-size: 2em;
   font-family: 'Baloo Chettan', cursive;
   align-items: center;
   display: flex;
   justify-content: center;
   text-decoration: none;
}

h3 {
    color:black;
    font-size: 3em;
    font-family: 'Baloo Chettan', cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.play {
    width: 15vw;
}
.dashboard-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.content {
    color: white;
}

.nav .level {
    font-size: 25px;
}

.data {
    margin: 40px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

 /* Grid layout */

.item1 {
    grid-area: header;
    padding-left: 40px;
}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  height: auto;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #130094;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* navbar alignment */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* margin-left: 30px; */
    margin-top: 0px;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
/* navbar button styles */

.heading {
    padding: 0;
    margin:0;
    color: orangered;
}

.play {
    padding: 20px;
}

.logout {
    padding-top: 65px;
}
