body {
    background-image: url('../images/Asset-20.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: radial-gradient(#baffff,#63f2f2, #66d8ff)fixed; */
}
/* outer game div */
.container {
    padding: 20px;
}
/* problem section */
.prob {
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    background-color: #C57BFF;
}

/* solution section */
.sol {
    /* border: 1px solid black; */
    margin-top: 10px;
    text-align: center;
}

.sol input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.sol button {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

/*  health bars  */
.health > div {
    height: 250px;
    border: 1px solid black;
    padding: 0;
    background-color: rgb(244, 127, 255);
}

.health {
    margin-top: 5%;
    
}

#player-health, #opponent-health {
    background-color: white;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

/* phaser elem */
canvas {
    /* for a width of 800px and height of 600px */
    position: fixed;
    top: calc(60% - 300px); /* 600/2 = 300 */
    left: calc(50% - 400px); /* 800/2 = 400 */
}

/* @media only screen and (max-height: 900px) {
    canvas {
        width: 50%;
        margin: 0;
        position: fixed;
        bottom: 0;
    }
  } */