/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* margin-left: 30px; */
    margin-top: 0px;
  }
  
  li {
    float: left;
  }
  a {
      text-decoration: none;
  }
  li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav img {
      width: 60%;
      margin: 0;
      padding:0;
      padding-top: 10px;
  }

  .nav {
      color: #130094;
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      font-size: 23px;
      padding-right: 25px;
      /* padding-left: 25px; */
      /* margin-left: 30px; */
      /* margin-top: 30px; */
      font-weight: bold;
      border: 1px solid white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .nav {
       padding-top: 10px;
  }

  /* question/answer display */

  .problem {
      text-align: center;
  }

  .solution {
      text-align: center;
      margin: 20px;
      padding: 20px;
      width: 500px;
      font-size: 24px;
      position: relative;
  }

  .problem-content {
      text-align: center;
  }

  input {
      display: inline-block;
  }
  /* game canvas */
canvas {
    width: 97%;
    position: relative;
}

body {
    background-color:  #FCD12D;
    overflow: hidden;
}

.button {
    color: #130094;
    background-color: #FCD12D;
    padding: 20px;
    margin: 20px;
    margin-right: 40px;
    float: center;
    border-radius: 15px;
    font-size: 30px;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 30px;
    margin-top: 300px;
    position: relative;
    font-weight: bold;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.content:not(.game) {
    z-index: 1000;
}

html, body {
    height: 100%;
}
.content {
    height: 100%;
}