/* navbar */
.content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* margin-left: 30px; */
    margin-top: 0px;
  }
  
  .content li {
    float: left;
  }
  .content a {
      text-decoration: none;
  }
  .content li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .content .nav img {
      width: 60%;
      margin: 0;
      padding:0;
      padding-top: 10px;
  }

  .content .nav {
      color: #130094;
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      font-size: 23px;
      padding-right: 25px;
      /* padding-left: 25px; */
      /* margin-left: 30px; */
      /* margin-top: 30px; */
      font-weight: bold;
      border: 1px solid white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .content .nav {
       padding-top: 10px;
  }

  /* question/answer display */

  .content .problem {
      text-align: center;
  }

  .content .solution {
      text-align: center;
      margin: 20px;
      padding: 20px;
      width: 500px;
      font-size: 24px;
      position: relative;
  }

  .content .problem-content {
      text-align: center;
  }

  .content input {
      display: inline-block;
  }
  /* game canvas */
  .content canvas {
    width: 97%;
    position: relative;
}

body {
    background-color:  #FCD12D;
    background-image: url("../images/grassy.jpeg");
    overflow: hidden;
    /* Full height */
    height: 100%;
    margin: 0;
    padding: 0;
    background-position-y: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
}

.content .button {
    color: #130094;
    background-color: #FCD12D;
    padding: 20px;
    margin: 20px;
    margin-right: 40px;
    float: center;
    border-radius: 15px;
    font-size: 30px;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 30px;
    margin-top: 300px;
    position: relative;
    font-weight: bold;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.content:not(.game) {
    z-index: 1000;
}

html, body {
    height: 100%;
}
.content {
    height: 100%;
}

/* attack list css */
#attackList {
    position: fixed;
    top: 80%;
    left: 3%;
    z-index: 100000;
    width: 100%;
    
}

.attackButton {
    padding: 20px;
    background-color: lightblue;
    /* border: 1px solid blueviolet; */
    border-radius: 10px;
    margin-right: 10px;
    font-size: 24px;
    width: 15%;
    height: 150px;
}

.attackButton p {
    color: darkred;
    font-size: 18px;
}
