/* body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
} */

/* Back to Dashboard Link */
.back-link {
    color:#1b5691;
    /* color:#F967DE; */
    font-size: 1.7vw;
    font-family: 'Baloo Chettan', cursive;
    text-decoration: none;
    margin: 1.5vw;
}

/* Back to Dashboard Link Hover */
.back-link:hover{
    text-decoration: none;
    color:#F967DE;
}

/* Back to Dashboard Container */
.back-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* Problem/ Answer Container */
.problem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Math Equation */
.math-problem {
    border: 3px solid #1b5691;
    border-radius: 100px;
    background: #F967DE;
    color:white;
    width: 40vw;
    font-size: 2vw;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    padding: .5vw;
    margin:1vw;
}

/* Answer Input Field*/
 .form-control {
    background: #D8FF5F;
    text-align: center;
    border-radius: 15px;
 }

 .answer-form {
     width: 25vw;
     border-radius: 50px;
     height:80px;
 }


/* Skip/Submit Button Container */
.button-container {
    display: flex;
    flex-direction: row;
}

/* Monster1/ Monster2 Selction Button */
.option-btn {
  font-family: 'Baloo Chettan', cursive;
  font-size: 2em;
  color: white;
  background: #F967DE;
  border-radius:20px;
  padding: .5vw;
  margin:.4vw;
  /* width: 6vw; */
}

/* ^ Button Hover Styles */
.option-btn:hover {
  font-family: 'Baloo Chettan', cursive;
  background: #60EBEF;
  border-radius:15px;
}

/* Health Bar */
.health-bar {
    border: 1px solid red;
}

/* outer game div */
.container {
    padding: 20px;
}

.full-width {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}


/* solution section */
.sol {
    /* border: 1px solid black; */
    margin-top: 10px;
    text-align: center;
}


.sol input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.sol button {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

button {
    padding: 10px;
    /* width: 100px; */
    background-color: yellow
}
/*  health bars  */
.health > div {
    height: 250px;
    border: 1px solid black;
    padding: 0;
    background-color: rgb(244, 127, 255);
}

.health {
    margin-top: 2%;
}

.health, .paint {
    margin-left: 8%;
    margin-right: 8%;
}

#player-health, #opponent-health {
    background-color: white;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

/* phaser elem */
canvas {
    /* for a width of 800px and height of 600px */
    position: fixed;
    /*top: calc(60% - 300px); /* 600/2 = 300 */
    left: calc(50% - 400px); /* 800/2 = 400 */
    bottom: 150px;
}

/* @media only screen and (max-height: 900px) {
    canvas {
        width: 50%;
        margin: 0;
        position: fixed;
        bottom: 0;
    }
  } */

  .messages {
      position: fixed;
      bottom: 10px;
      left: calc(50% - 200px);
      font-size: 22px;
      padding: 10px;
      
  }

  .messages input {
    width: 400px;
    border: 1px solid black;
  }

  #messages {
      position: fixed;
      bottom: 40px;
      font-size: 24px;
  }