body {
    /* background-image: url('../images/Asset-20.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: fantasy;
    background: radial-gradient(#baffff, #66d8ff)fixed;
}


/* outer game div */
.container {
    padding: 20px;
}

.full-width {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

.quit {
    color: purple;
    position: fixed;
    top: 40px;
    right: 40px;
    font-family: fantasy;
    font-weight: bolder;
}
/* problem section */
.prob {
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    /* background-color: #C57BFF; */
    background-color: #EABBCE;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* solution section */
.sol {
    /* border: 1px solid black; */
    margin-top: 10px;
    text-align: center;
}

.sol input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.sol button {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

button {
    padding: 10px;
    /* width: 100px; */
    background-color: yellow
}
/*  health bars  */
.health > div {
    height: 250px;
    border: 1px solid black;
    padding: 0;
    background-color: rgb(244, 127, 255);
}

.health {
    margin-top: 5%;

}

#player-health, #opponent-health {
    background-color: white;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

/* phaser elem */
canvas {
    /* for a width of 800px and height of 600px */
    position: fixed;
    top: calc(60% - 150px); /* 600/2 = 300 */
    left: calc(50% - 400px); /* 800/2 = 400 */
    /* position: relative */
}

/* @media only screen and (max-height: 900px) {
    canvas {
        width: 50%;
        margin: 0;
        position: fixed;
        bottom: 0;
    }
  } */


  /* chat */

  form { 
      padding: 3px; 
      position: fixed; 
      bottom: 10px; 
      width: 100%; 
    }

  form input { 
      border: 0; 
      padding: 10px; 
      width: 50%; 
      margin-right: .5%; 
    }

  form button { 
      width: 9%; 
      background: rgb(189, 252, 134); 
      border: none; padding: 10px; 
    }

  #messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
      position: fixed;
      bottom: 80px;
      font-size: 24px;
    }

  #messages li { 
      padding: 5px 10px; 
      
    }

  #messages li:nth-child(odd) { 
      background: #eee; 

    }
