body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(white,#fffddd,#fffa82)fixed; */
}

/* Hero Container */
.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

/* Hero Image ("Calcmon") */
.hero-image {
    margin-top: 1%;
    height: 15em;
    width: 50em;
    max-width: 70%
}

/* Login Form Container Styles */
.login-form-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

/* Login Form Styles */
.login-form {
    display: flex;
    flex-direction: column;
    /* border: 1.2px solid #444444; */
    border-radius: 10px;
    width: 20%;
    padding:2em;
}

/* Input Feild Styles (username, password) */
 .form-control {
    background: #bff9ff;
    text-align: center;
    opacity: .6;
 }

 /* Input Feild Hover Styles */
 .form-control:hover {
     opacity: .4;
 }

 /* Signup Link*/
 .signup-link {
    color:#17a2b8;
    font-size: 1em;
    font-family: 'Baloo Chettan', cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
 }

/* Signup Link Hover */
 .signup-link:hover{
     text-decoration: none;
     color:#6bb8bf;
 }

/* "Not Registered? Style" */
p {
    font-family: 'Baloo Chettan', cursive;
    margin-top:1em;
    margin-bottom: .3em;
    color:#343a40;
}

  /* Login Button Style */
  .login-button {
    font-family: 'Baloo Chettan', cursive;
  }

/* Play Button Container*/
  .play-button-container {
      display: flex;
      justify-content: center;
  }

  .play-button {
      width:20%;
  }


/* Star Key Frames */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
