/* Main Css goes here */

body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/bg.png");

    /* Full height */
    height: 100%;
    margin: 0;
    padding: 0;
    background-position-y: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 0px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav img {
      width: 300px;
      margin: 0;
      padding:0;
      padding-top: 10px;
      float: right;
      margin-right: 40px;
  }

  .nav .button {
      color: #130094;
      background-color: #FCD12D;
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      font-size: 23px;
      padding-right: 25px;
      padding-left: 25px;
      margin-left: 30px;
      margin-top: 30px;
      font-weight: bold;
      border: 1px solid white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .nav {
       padding-top: 10px;
  }

  /* login form */
  .login label, .login input, .signup label, .signup input {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      font-size: 24px;
      text-align: center;
  }

  .login input, .signup input {
      padding-bottom: 20px;
      padding-top: 20px;
      background-color: #FCD12D;
      margin-bottom: 30px;
      color: #130094;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 15px;
      margin-top: 20px;
      font-size: 27px;
      font-weight: bolder;
      border: 1px solid white;
    }

  .login .info, .signup .info{
      background-color: #00B2DF;
      color: white;
      border-radius: 15px;
      margin-top: 0;
      font-size: 30px;
      font-weight: normal;
      border: 0px;
  }

  .login form, .signup form {
      width: 300px;
      float: right;
      margin-top: 5%;
      margin-right: 90px;
      color: white;
      font-weight: bolder;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* layering positions */
  .login, .signup {
      z-index: 1000;
  }

  canvas {
      z-index: 50;
  }
  /* canvas sprites*/
  .coin1 {
      position: fixed;
      top: 60%;
      left: 10%;
  }

  .coin2 {
    position: fixed;
    top: 52%;
    left: 18%;
  }

  /* For iPhones, with login button going below */ 
  /* Any height 500px or less */
  @media only screen and (max-device-height: 550px) {
    body {
      overflow-y: scroll;
    }

    .nav {
      height: 100px;
    }

    .login, .signup {
      margin-top: 0;
      padding-top: 0;
      font-size: 22px;
    }

    .login input, .signup input {
      font-size: 20px;
      padding: 10px;
      margin: 10px;
    }
    
  }
